@charset "utf-8";
.controll_button {
  width: 90px;
  height: 40px;
  font-size: 18px;
  margin-left: 5px;
}

.button_container {
  display: grid;
  grid-template-columns: 100px 100x 100px;
  grid-template-rows: 85px 85px 85px;
}
